@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header,
.footer,
.container-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.header-logo,
.header li {
    color: white;
}

.header ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 16px;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-one {
    display: flex;
    height: 360px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.container-one h1,
.container-one p {
    color: white;
}

.container-one-main-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    width: 30%;
}

.container-one-main-part button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    width: 120px;
    height: 36px;
    color: white;
    font-size: 16px;
}

.container-one-picture {
    display: flex;
    width: 640px;
    height: 260px;
    background-color: darkgrey;
    
}

.main-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}




