@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header,
.footer,
.container-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.header-logo,
.header li {
    color: white;
}

.header ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 16px;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-one {
    display: flex;
    height: 360px; /*adjust later*/ 
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.container-one h1,
.container-one p {
    color: white;
}

.container-one-main-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    width: 30%;
}

.container-one-main-part button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    width: 120px;
    height: 36px;
    color: white;
    font-size: 16px;
}

.container-one-picture {
    display: flex;
    width: 640px;
    height: 260px;
    background-color: darkgrey;
    
}

.main-picture {
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

.container-two {
    height: 460px; /*adjust later*/
}

.container-two-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bold; /*missing extra-bold font for Roboto*/
    height: 140px;
}

.container-two-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #1F2937;;
}

.container-two-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    text-align: center;
    gap: 8px;
    flex-wrap: wrap;
}

.image-placeholder {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /*adjust later*/
    width: 100vw;
    background-color: #e5e7eb;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
}

.container-three p {
    font: 36px lighter italic; /*missing font*/
    color: #1F2937;
    flex-wrap: wrap;
}

.quote {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.container-four {
    display: flex;
    height: 360px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container-four-content {
    display: flex;
    background-color: #3882F6;
    height: 200px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 80px;
}

.container-four-content h2,
.container-four-content p {
    color: white;
}

.container-four-content button {
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    height: 36px;
    width: 100px;
    background-color: #3882F6;
    font-size: 18px;
}

.footer {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer p {
    margin-left: 8px;
}






